body {
    overflow-y: scroll; /* force vertical scroll bar */
}

.search-result {
    width: 95%;
}

.error {
    color: #ff0000;
}

.no-result-block {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.result-block {
    color: #000;
    background-color: #eeffee;
    border: 3px solid #5cb85c;
    padding: 8px;
    margin: 16px;
}

.displayNone {
    display: none;
}

.group-list {
    width: 80%;
}

.person-list {
    width: 80%;
}

.margin-top-error {
    margin-top: 10%;
}

.margin-top-error-button {
    margin-top: 2%;
}

.clickable-row:hover {
    background-color: #a6d6ff;
    cursor: pointer;
}